html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    padding: 0;
    min-height: 100vh;
    background-color: dimgray;
}

::selection {
    background-color: rgb(192, 125, 0);
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* START TYPING BELOW */